@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500&family=DM+Sans:wght@400;500;600;700&display=swap');

:root {
    --mono: 'DM Mono', 'IBM Plex Mono', monospace;
    --sans: 'DM Sans', system-ui, sans-serif;

    font: 18px/145% var(--mono);
    color-scheme: dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #1f1f1e;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

h1, h2, h3 {
    font-family: var(--sans), serif;
    color: var(--text-h);
}


@theme {
    --breakpoint-md: 60rem;
    --breakpoint-xl: 96rem;
    --breakpoint-2xl: 120rem;
}